:root {
    --main-color:#FFFFFF;
    --main-border-color:#2B81AC;
    --main-back-color: #3399CC;
    --color-box1:#3399CC;
    --color-box2:#33CCCC;
    --color-box3:#996699;
    --color-box4:#C24747;
    --color-box5:#E2674A;
    --color-box6:#FFCC66;
    --color-box7:#99CC99;
    --color-box8:#669999;
    --color-box9:#CC6699;
    --color-box10:#339966;
    --color-box11:#666699;    
}